/* custom properties */
:root {
  --backgroundGreyColor:  #F5F6FA;
  --greyColor:            #a4b1c1;
  --black: #242528;
  --white: #FFF;
  --fontFamily: 'Lato', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','HiraKakuPro-W3' ;
}


/**
 * Page common style
 *
 * It is inspired by github.com/inuitcss/base.page
 * and Medium's style of it.
 */
html {
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings:"liga" on;
}


body {
  background: var(--white);
  font-style: normal;
  line-height: 2rem;
  font-weight: 400;
  font-size: 1.33333rem;
  font-family: var(--fontFamily);
}

footer {
  background: var(--backgroundGreyColor);
}

footer small {
    color: var(--greyColor);
}
