/* custom properties */
:root {
  --backgroundGreyColor:  #F5F6FA;
  --greyColor:            #a4b1c1;
  --black: #242528;
  --white: #FFF;
  --font: 'Lato', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','HiraKakuPro-W3' ;
}
