/*------------------------------------*\
    style.css
\*------------------------------------*/
/* import sassline style */
@import "../node_modules/sassline/assets/css/style.css";

/**
 * Settings
 */
 /* custom properties */
:root {
  --backgroundGreyColor:  #F5F6FA;
  --greyColor:            #a4b1c1;
  --black: #242528;
  --white: #FFF;
  --font: 'Lato', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','HiraKakuPro-W3' ;
}


/**
* Page common style
*
* It is inspired by github.com/inuitcss/base.page
* and Medium's style of it.
*/
html {
 overflow-y: scroll;
 min-height: 100%;
 text-rendering: optimizeLegibility;
 -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
 -moz-font-feature-settings:"liga" on;
}


/**
 * Header
 */
header { border-bottom: 1px solid #edf0f4; }
header h1 { margin: 2rem 0 2rem 3%; font-family: var(--font); }

/**
 * Footer
 */
footer {
  background: var(--backgroundGreyColor);
  small {
    color: var(--greyColor);
  }
}


/**
 * Body
 */
body {
  background: var(--white);
  font-family: var(--font);
}

.html {
  padding: 1rem;
  margin-bottom: 2rem;
}
